streamlit==1.32.0
pandas==2.2.0
plotly==5.18.0
streamlit-lottie==0.0.5
requests==2.31.0  
git+https://github.com/Planktonxd/streamlit-lottie-fixed.git




#streamlit==1.32.0
#pandas==2.2.0
#plotly==5.18.0
#git+https://github.com/andfanilo/streamlit-lottie.git
#streamlit-lottie==0.0.5
#requests==2.31.0



#streamlit==1.32.0
#pandas==2.2.0
#plotly==5.18.0
#requests==2.31.0
#git+https://github.com/andfanilo/streamlit-lottie.git

